.Section {color: rgb(12, 6, 2);
    background: rgb(163, 177, 236);
    margin-top:0;
    color:white;
}

.block {
    padding:5px;
    margin-top: 5px;
}

.block .kid{
    padding-top: 5px;
    padding-left: 15px;
    margin-left: 15px;
    background-color: rgb(52, 75, 105);
    height: 156px;

}